DB_USER
DB_NAME
DB_PASSWORD
DATABASE_URL="postgresql://postgres:123456@localhost:5435/onshop?schema=public"

# openssl rand -base64 32
AUTH_SECRET=

# Paypal
# developer.paypal.com/dashboard
# test account: sb-b2ami34698881@personal.example.com
# test password: A1234567
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token
#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders

# https://console.cloudinary.com/
CLOUDINARY_URL